In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
df = pd.read_json('ELEMENTS_v2.json')

In [3]:
df.head()

,_id,Record
0,{'$oid': '65107fb178d5f9132db84957'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
1,{'$oid': '65107fb178d5f9132db84958'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
2,{'$oid': '65107fb178d5f9132db84955'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
3,{'$oid': '65107fb178d5f9132db84956'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
4,{'$oid': '65107fb178d5f9132db84954'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."

In [4]:
records = df['Record']

In [5]:
records.head()

0    {'RecordType': 'AtomicNumber', 'RecordNumber':...
1    {'RecordType': 'AtomicNumber', 'RecordNumber':...
2    {'RecordType': 'AtomicNumber', 'RecordNumber':...
3    {'RecordType': 'AtomicNumber', 'RecordNumber':...
4    {'RecordType': 'AtomicNumber', 'RecordNumber':...
Name: Record, dtype: object

In [6]:
records

0     {'RecordType': 'AtomicNumber', 'RecordNumber':...
1     {'RecordType': 'AtomicNumber', 'RecordNumber':...
2     {'RecordType': 'AtomicNumber', 'RecordNumber':...
3     {'RecordType': 'AtomicNumber', 'RecordNumber':...
4     {'RecordType': 'AtomicNumber', 'RecordNumber':...
5     {'RecordType': 'AtomicNumber', 'RecordNumber':...
6     {'RecordType': 'AtomicNumber', 'RecordNumber':...
7     {'RecordType': 'AtomicNumber', 'RecordNumber':...
8     {'RecordType': 'AtomicNumber', 'RecordNumber':...
9     {'RecordType': 'AtomicNumber', 'RecordNumber':...
10    {'RecordType': 'AtomicNumber', 'RecordNumber':...
11    {'RecordType': 'AtomicNumber', 'RecordNumber':...
12    {'RecordType': 'AtomicNumber', 'RecordNumber':...
13    {'RecordType': 'AtomicNumber', 'RecordNumber':...
14    {'RecordType': 'AtomicNumber', 'RecordNumber':...
15    {'RecordType': 'AtomicNumber', 'RecordNumber':...
16    {'RecordType': 'AtomicNumber', 'RecordNumber':...
17    {'RecordType': 'AtomicNumber', 'RecordNumber':...
18    {'RecordType': 'AtomicNumber', 'RecordNumber':...
19    {'RecordType': 'AtomicNumber', 'RecordNumber':...
Name: Record, dtype: object

In [7]:
records.set_option('display.max_columns', 10)

AttributeError: 'Series' object has no attribute 'set_option'