In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
df = pd.read_json('ELEMENTS_v2.json')

In [3]:
df.head()

,_id,Record
0,{'$oid': '65107fb178d5f9132db84957'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
1,{'$oid': '65107fb178d5f9132db84958'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
2,{'$oid': '65107fb178d5f9132db84955'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
3,{'$oid': '65107fb178d5f9132db84956'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."
4,{'$oid': '65107fb178d5f9132db84954'},"{'RecordType': 'AtomicNumber', 'RecordNumber':..."